# The integrations team generally owns this repository
* @happyreturns/hub-team
* @happyreturns/hub-code-reviewers

# For security of github workflows infrastructure must own CODEOWNERS and .github/workflow
# IMPORTANT: This must be at the bottom of the CODEOWNERS file
/.github/workflows @happyreturns/infrastructure-team
CODEOWNERS @happyreturns/infrastructure-team
